p{
    color: antiquewhite;
    background-color: blue;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
}

#parent{
    padding: 50px;
    background-color: gray;

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 25px;

    max-width: 1000px;
}
