/*** SETTINGS ***/

/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Poppins&display=swap");

:root {
  /* COLOR */
  --colDark: #252734;
  --colLight: #2a2c39;
  --fontLight: #fcfcfc;
  --fontDark: #878592;

  /* FONT */
  font-size: 1.3rem;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3.375rem;
  color: var(--fontLight);
}

h2 {
  font-size: 1.2rem;
  color: var(--fontLight);
}

p {
  color: var(--fontLight);
}

header {
  background-color: var(--colDark);
}
