html {
}
.un:hover {
  transform: rotate(360deg);
  transition: all 5s;
}
.deux {
  transform: translate(50px, 50px);
}
.trois:hover {
  transform: scale(150%);
  filter: grayscale();
  transition: transform 2s;
}
