/* Setting Scale 1.250 */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
  font-size: 1rem;
  background: $color-clair;
  color: $color-black;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/* endSetting */
