/* nav bar */
header {
  nav {
    background-color: $color-vert;
    padding: 50px 40px;
    display: flex;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
      a {
        text-decoration: none;
        color: $color-clair;
        padding: 0 10px;
      }
    }
    .titleLogo {
      width: 100%;
      min-width: 100px;
      min-height: 100px;
      padding: 0 10px;
      h1 {
        display: none;
      }
      img {
        display: block;
        width: 100px;
        height: 100px;
        margin: auto;
      }
    }
  }
}
/* endNav Bar */
/* service */
#service {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  @include settingSection();
  .colorService {
    position: relative;
    display: flex;
    justify-content: space-between;

    width: 100%;

    height: 40px;

    .block {
      width: 40px;
      height: 100%;
    }
  }
  .firstColorService {
    @include setColorService();
  }
  .lastColorService {
    @include setColorService(
      $left: $color-bleu,
      $right: $color-clair,
      $border: true
    );
  }

  .blockService {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    width: 100%;
    max-width: 700px;
    margin: auto;
    .block {
      text-align: center;
      position: relative;
      height: 300px;
      background-color: red;
      p {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .block1 {
      @include setBlockService($br: "top-left");
    }
    .block2 {
      @include setBlockService($bg: $color-red, $br: "top-right");
    }
    .block3 {
      @include setBlockService($bg: $color-bleu, $br: "bottom-left");
    }
    .block4 {
      @include setBlockService(
        $bg: $color-clair,
        $br: "bottom-right",
        $border: true
      );
    }
  }
}
/* endService */
/* Galerie */
#galerie {
  @include settingSection(
    $height: 1200px,
    $bg: $color-gris,
    $color: $color-clair,
    $padding: true
  );
  .textGallerie {
    position: relative;

    top: 50%;
    transform: translateY(-50%);

    display: flex;
    gap: 40px;
    .text {
      position: relative;
      width: 50%;
      background-color: $color-vert;
      padding: 40px 90px;
      p {
        margin-bottom: 70px;
        font-weight: 200;
        font-size: 16px;
      }
    }
    .galeriePlus {
      position: relative;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .galeries {
        position: relative;
        height: 100%;
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        grid-column-gap: 20px;
        .image {
          margin-bottom: 20px;
        }

        .image1 {
          background: url("img/galerie/image1.png") no-repeat center / cover;
        }
        .image2 {
          background: url("img/galerie/image2.jpg") no-repeat center / cover;
        }
        .image3 {
          background: url("img/galerie/image3.jpg") no-repeat center / cover;
        }
        .image4 {
          background: url("img/galerie/image4.jpg") no-repeat center / cover;
          grid-row: 2 / span 3;
          grid-column: 2;
        }

        .image5 {
          background: url("img/galerie/image5.jpg") no-repeat center / cover;
        }
      }
      a {
        display: block;
        width: 100%;
        background-color: $color-vert;
        text-decoration: none;
        color: $color-clair;
        padding: 20px 0;
        text-transform: capitalize;
        text-align: center;
      }
    }
  }
  #allgalery {
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    .galery {
      position: relative;
      display: grid;
      grid-template: repeat(2, 1fr) / repeat(4, 1fr);
      grid-gap: 20px;
      top: 50%;
      transform: translateY(-50%);
      height: 500px;

      .image {
        min-width: 100px;
      }
      .image1 {
        background: url("img/galerie/image1.png") no-repeat center / cover;
        grid-column: 1 / span 2;
      }
      .image2 {
        background: url("img/galerie/image2.jpg") no-repeat center / cover;
        grid-column: 3 / span 4;
      }
      .image3 {
        background: url("img/galerie/image3.jpg") no-repeat center / cover;
      }
      .image4 {
        background: url("img/galerie/image4.jpg") no-repeat center / cover;
      }
      .image5 {
        background: url("img/galerie/image5.jpg") no-repeat center / cover;
      }
    }
    .fa {
      font-size: 30px;
    }
  }
  #allgalery.active {
    display: block;
  }
}
/* endGalerie */
/* contact */
#contact {
  position: relative;

  @include settingSection($h2: true, $height: 550px, $color: $color-clair);
  h2 {
    display: block;
  }
  iframe {
    width: 100%;
    height: 400px;
  }

  .infos {
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 50%;
    height: 400px;
    display: flex;
    gap: 50px;

    .reseaux {
      display: block;
      padding: 0 10px;
      display: flex;
      gap: 50px;
      flex-direction: column;
      align-items: center;
      background-color: $color-black;
      justify-content: center;
      width: auto;
    }
    form {
      display: block;
      margin: auto;

      input[type="text"],
      textarea {
        background: none;
        border: none;
        border-bottom: 2px solid $color-clair;
        margin-top: 20px;
        font-size: 20px;
      }
      input[type="text"]:focus,
      textarea:focus {
        color: $color-clair;
      }
      input[type="text"]::placeholder,
      textarea::placeholder {
        color: $color-clair;
      }
      input[type="submit"] {
        border: 3px solid $color-clair;
        background: none;
        color: $color-clair;
        display: block;
        margin: auto;
        text-align: center;
        width: 100%;
        font-size: 20px;
        padding: 5px 0;
      }
    }
  }
}
/* endContact */
